<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-title>iVideoclub</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
      <ion-item *ngFor="let movie of movies">
        <ion-thumbnail slot="start">
          <ion-img src="{{movie.poster}}"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{movie.title}}</h2>
          <p>Director: {{movie.director}}</p>
          <p>Year: {{movie.year}} </p>
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
